* {
    margin: 0px 5px 5px 5px;
    font-family:Arial, Helvetica, sans-serif;  
    align-items: center;
}

body {
    text-align: center;
    background-color: rgb(197, 185, 185);
}

header {
   max-width: 50%;
   display: flex;
   flex-direction: column;
   
}
.container {

}
img {
    border-radius: 10%; 
    border-style: double;
    border-width: 5px;
    display: grid;
}
/*I got the idea for spinning 360deg from https://stackoverflow.com/questions/23695090/spin-or-rotate-an-image-on-hover */
.img1 {
    transition: transform .1s ease-in-out;
  }
.img1:hover {
    transform: rotate(360deg);
  }

h1 {
    text-align: center;
    margin-top: 10px;
    border-style: solid;
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 10px;
}

h3 {
    text-align: center;
    text-decoration: underline;
    margin: 0px;
}

h4 {
    text-align: center;
    text-decoration: underline;
    margin: 0px;
    background-color: antiquewhite;
}

li {
    background-color: antiquewhite;
}

aside {
    justify-content: center;
    text-decoration: solid;
}

p {
    max-width: 80%;
    color: rgb(0, 0, 0);
    border-radius: 5%;
    padding: 15px;
    border-style: solid;
    border-color: black;
    background-color: antiquewhite;    
}

ul {
    text-align: center;
    background-color: antiquewhite;
}

footer {
    text-align: center;
}

button {
    border-radius: 10%;
    border-style: none;
    margin: 1%;
    background-color: antiquewhite;
    max-width: 95%;
}

a:hover {
    box-shadow: 10px;  
}

nav {
    
}
.projects {
    display: flex;
    justify-content: center; 
    margin-bottom: -10px;
}

.contact {
    background-color: antiquewhite;
    border-radius: 10%;
    display:inline-block;
    border-style: solid;
    height: 190px;
    width: 150px;
}

.previous {
    border-style: solid;
    border-radius: 50px 50px 10px 10px;
    background-color: antiquewhite;
    max-width: 80%;
    height: 950px;
    padding-right: 7px;
    padding-bottom: 50px;
    padding-top: 7px;
}
.hori {
    display: flex;
    justify-content: center;
    width: 100%;
}
.bottom2 {
    max-width: 100%;
    max-height: fit-content;
}

@media screen and (max-width: 990px) {
    .previous {
        display: inline-block;
        max-height: 100%;
    }
    }

@media screen and (max-width: 660px) {
    .bottom2 {

    }
    
}

@media screen and (min-width: 660px) {
    .bottom2 {
        display: flex;
        align-items: center;
    
    }
    
.id {
    max-width: 600px;
}
.top-links {
    display: flex;
    flex-direction: column;
  
}

.profpic {
    max-width: 80%;
}