:root {
    --mainColor:  rgb(204, 201, 201);
    --mainBorderStyle: double;
    --mainBorderRadius: 10%;
    --mainTextAlignment: center;
    --mainDisplayStyle: flex;
}

* {
    margin: 0px 5px 5px 5px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    border-width: 4px; 
}

body {
    text-align: var(--mainTextAlignment);
    background-color: rgb(184, 181, 174)
}

header {
    max-width: 75%;
    display: var(--mainDisplayStyle);
    flex-direction: column;
    object-fit:fill;
    align-items: center;  
}

img {
    border-radius: var(--mainBorderRadius); 
    border-style: var(--mainBorderStyle);    
    display: grid;
    box-shadow: 10px;  
}

h1 {
    display: var(--mainDisplayStyle);
    flex-direction: row;
    margin-top: 10px;
    border-style: var(--mainBorderStyle);   
    border-radius: var(--mainBorderRadius);
    background-color: var(--mainColor);
    padding: 10px 10px 10px 30px;
}

span {
    font-size: 150%;
    display: var(--mainDisplayStyle);
    align-items: center;
    padding-right: 5px;    
}

h1, span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3, h4 {
    text-decoration: underline;
    text-decoration-color: var(--mainColor);
    margin: 0px;
    text-align: var(--mainTextAlignment);
    color: rgb(39, 37, 37);
}

h4 {
    background-color: none; 
    background-size: 10px;
}

li {
    background-color: var(--mainColor);
}

aside {
    justify-content: center;
    text-decoration: solid;
}

p {
    max-width: 55%;
    color: rgb(0, 0, 0);
    border-radius: 5% 5% 2.5% 2.5%;
    padding: 15px;
    border-style: var(--mainBorderStyle);
    border-color: black;
    background-color: var(--mainColor);   
}

ul {
    text-align: var(--mainTextAlignment);
    background-color: var(--mainColor);
}

footer {
    text-align: var(--mainTextAlignment);
    color: black;
}

button {
    border-radius: var(--mainBorderRadius);
    border-style: none;
    margin: 1%;
    background-color: transparent;
    max-width: 95%;
}

/*I got the idea for spinning 360deg from https://stackoverflow.com/questions/23695090/spin-or-rotate-an-image-on-hover I have changed the speed, degree of rotation, and the elelment from the example shown to apply to my project */
.img1 {
    transition: transform .5s;
}

.img1:hover {
    transform: rotate(2deg);
  }

.projects {
    display: var(--mainDisplayStyle);
    justify-content: center; 
    margin-bottom: -10px;
}

.contact {
    background-color: var(--mainColor);
    border-radius: var(--mainBorderRadius);
    display: block;
    justify-content: center;
    border-style: var(--mainBorderStyle);       
    height: 130px;
    width: 15%;
}

.previous {
    border-style: var(--mainBorderStyle);
    border-radius: 50px 50px 10px 10px;    
    background-color: var(--mainColor);
    max-width: 65%;
    max-height: 1000px;
    padding-bottom: 40px;
    padding-top: 10px;    
}

.hori {
    display: var(--mainDisplayStyle);
    justify-content: center;
    width: 100%;
}

.bottom2 {
    max-width: 100%;
    max-height: fit-content;
}

.top-links {
    display: var(--mainDisplayStyle);
    flex-direction: column;
    justify-content: center;
}

.profpic {
    max-width: 80%; 
}

@media screen and (max-width: 757px) {
    .img1, .projects {
        display: var(--mainDisplayStyle);
        flex-direction: column;
    }
    
    .previous {
    border-style: var(--mainBorderStyle);
    border-radius: 50px 50px 10px 10px;
    border-width: 3px;
    background-color: var(--mainColor);
    max-width: 85%;
    max-height: 1290px;
    padding-bottom: 400px;
    padding-top: 10px;    
}

p {
    max-width: 85%;   
    }

h1 {
    display: var(--mainDisplayStyle);
    flex-direction: column;
    margin-top: 10px;
    border-style: var(--mainBorderStyle);    
    border-radius: 10px;
    padding-right: 30px;
    background-color: var(--mainColor);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    }

span {
    padding: 10px 10px 5px 55px;
}
.contact {
    width: 45%;
}
}

